html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c2c2c;
}

#screen{
    border: #29f8ff75 2px solid;
    width: 500px;
    text-align: end;
    font-family: monospace;
    font-size: 5em;
    color: white;
    margin-bottom: 10px;
    margin-top: 5px;
}

.digitButton, .operatorButton, .button {
    border-radius: 5px;
    border: rgb(39, 39, 39) solid 1px;
    font-size: 3em;
    font-family: monospace;
    color: white;
    flex-basis: 25%;
    background-color: #3b3b3b;
}

#calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #252525 10px solid;
    background-color: #252525;
}

#\30, #clear{
    flex-basis: 50%;
}

.row {
    display: flex;
    width: 500px;
    height: 75px;
}

#equal {
    background-color: #29f7ff;
    color: #3b3b3b;
}

.digitButton:active, .operatorButton:active, .button:active {    
    background-color: #29f7ff;
}

#equal:active {
    background-color: #3b3b3b;
}